<section id="footer">
  <div class="content">
    <article class="notes">
      <h4>Important!</h4>
      <p>
        Compania noastra isi rezerva dreptul de a folosii in scopuri publicitare fotografiile realizate pe perioada
        desfasurarii petrecerii.
      </p>
      <p>
        In cazul in care clientul renunta la organizarea petrecerii, acesta este obligat sa ne anunte cu 7 zile inainte
        de data calendaristica stabilita in contract si in acest sens i se va restitui avansul achitat. In cazul in
        care exista posibilitatea reprogramarii petrecerii la o alta data, in functie de programarile existente, daca
        si clientul doreste, acesta poate reprograma petrecerea si sa ramana achitat avansul initial.
      </p>
    </article>
    <div class="form">
      <h3>Contact</h3>
      <input type="text" placeholder="Subiect">
      <textarea placeholder="Mesaj"></textarea>
      <button class="cta">Trimite</button>
    </div>
    <article class="info">
      <h2>Căsuța Favorită</h2>
      <address>Calea Bogdanestilor 2/A Timisoara</address>
      <div class="pc">
        <span>MF</span>
        <div>
          <address>Marius Fofiu</address>
          <address>Phone: 0723 357 077</address>
        </div>
      </div>
      <div class="pc">
        <span>AM</span>
        <div>
          <address>Adrian Marta</address>
          <address>Phone: 0743 026 027</address>
        </div>
      </div>
      <div class="pc">
        <span>SI</span>
        <div>
          <address>Sorin Ivan</address>
          <address>Phone: 0727 121 049</address>
        </div>
      </div>
      <address>Email: office@casuta-favorita.ro</address>
    </article>
  </div>
  <div class="copy">
    Copyright &copy; {{year}}
  </div>
</section>
