<section>
  <div class="cube-container">
    <div class='container'>
      <div class='cube'>
        <div class='front'></div>
        <div class='back'></div>
        <div class='right'></div>
        <div class='left'></div>
        <div class='top'></div>
        <div class='bottom'></div>
      </div>
    </div>
  </div>

  <div class="description">
    <h3 class="title title-font-family">Descriere</h3>
    <p>
      <strong>Căsuța favorită</strong> este un spatiu destinat petrecerilor pentru copiii.
      Spatiul este impartit in 4 zone distincte, din care 3 sunt destinate copiilor, și una părinților,
      astfel încât, fiecare să-și găsească activitatea preferată, indiferent de vârstă.
    </p>
    <p>
      Toate petrecerile noastre îşi propun să aducă pe chipurile celor mici bucurie, zâmbete şi veselie, pentru că ne
      dorim să mulţumim orice client, indiferent de vârstă.
    </p>

    <div class="cards">
      <div class="card">
        <img src="assets/imgs/IMG_-7.jpg" alt="casuta favorita">
        <p>
          Zona destinată copiilor cu vârsta de până la 3 ani și cuprinde: o piscină cu bile, tobogan si altele.
        </p>
      </div>

      <div class="card">
        <img src="assets/imgs/IMG_-4.jpg" alt="casuta favorita">

        <p>
          Zona destinată copiilor cu vârsta de peste 3 ani și cuprinde o trambulină, tiroliana, perete de
          catarat, etc.
        </p>
      </div>

      <div class="card">
        <img src="assets/imgs/IMG_-6.jpg" alt="casuta favorita">

        <p>
          Zona de luat masa are o capacitate de aproximativ 30 de copii.
        </p>
      </div>
      <div class="card">
        <img src="assets/imgs/IMG_-11.jpg" alt="casuta favorita">
        <p>
          Zonă destinată adulților cuprinde un bar, mese cu fotolii si terasa.
        </p>
      </div>
    </div>
  </div>

</section>
