<section>
  <h1 class="page-title">Oferta servicii</h1>
  <div class="container">
    <div class="basic plan">
      <div class="header">
        <h4>Varianta 1</h4>
        <p>30 lei/copil</p>
      </div>
      <div class="content">
        <ul>
          <li>Access exclusiv 2.5 ore</li>
          <li>Consumatie de la bar</li>
          <li>Muzica</li>
          <li>Parintii asigura mancarea si tortul</li>
          <li>Parintii asigura vesela de unica folosinta</li>
          <li>Tarif pentru minim 10 copii</li>
        </ul>
      </div>
      <div class="cta">
        <button type="button">Rezervare</button>
      </div>
    </div>
    <div class="advanced plan">
      <div class="header">
        <h4>Varianta 2</h4>
        <p>50 lei/copil</p>
      </div>
      <div class="content">
        <ul>
          <li>Access exclusiv 2.5 ore</li>
          <li>Muzica</li>
          <li>Meniu copii: pizza sau piure cu snitel</li>
          <li>Suc si apa pentru copii</li>
          <li>Consumatie de la bar pentru parinti</li>
          <li>Tortul este asigurat de parinti</li>
          <li>Baloane de sapun la momentul tortului</li>
          <li>Tarif pentru minim 10 copii</li>
        </ul>
      </div>
      <div class="cta">
        <button type="button">Rezervare</button>
      </div>
    </div>
    <div class="custom plan">
      <div class="header">
        <h4>Varianta 3</h4>
        <p>negociabil</p>
      </div>
      <div class="content">
        <p>Pentru alta varianta, va rugam sa ne contactati</p>
      </div>
      <div class="cta">
        <button type="button">Rezervare</button>

      </div>
    </div>
  </div>
</section>
