<section class="servicii">
  <div class="about">
    <h3 class="page-title">Descriere</h3>
    <p class="description">
      <strong>Căsuța favorită</strong> este un spatiu destinat petrecerilor pentru copiii.
      Spatiul este impartit in 4 zone distincte, din care 3 sunt destinate copiilor, și una părinților,
      astfel încât, fiecare să-și găsească activitatea preferată, indiferent de vârstă.
    </p>
    <div class="cards">
      <div class="card">
        <img src="assets/imgs/IMG_-7.jpg" alt="casuta favorita">
        <p>
          O zona este destinată copiilor cu vârsta de până la 3 ani și cuprinde: o piscină cu bile, tobogan si altele.
        </p>
      </div>

      <div class="card">
        <img src="assets/imgs/IMG_-4.jpg" alt="casuta favorita">

        <p>
          A alta zona este destinată copiilor cu vârsta de peste 3 ani și cuprinde o trambulină, tiroliana, perete de
          catarat. De asemenea, exista spatiu suficient pentru diverse jocuri si pentru dansat.
        </p>
      </div>

      <div class="card">
        <img src="assets/imgs/IMG_-6.jpg" alt="casuta favorita">

        <p>
          Zona de luat masa are o capacitate de aproximativ 30 de copii. Aici se organizează cele mai grozave petreceri
          din
          toată împărăția!
        </p>
      </div>
      <div class="card">
        <img src="assets/imgs/IMG_-11.jpg" alt="casuta favorita">

        <p>
          Zonă destinată adulților cuprinde un bar, unde se pot servi diverse băuturi De asemenea, afara este amenajata
          si
          o mica terasa, unde mai pot sta parintii.
        </p>
      </div>
    </div>
    <p class="summary">
      Toate petrecerile noastre îşi propun să aducă pe chipurile celor mici bucurie, zâmbete şi veselie, pentru că ne
      dorim să mulţumim orice client, indiferent de vârstă. <br>
      Pentru mai multe detalii, va rugam sa folositi pagina noastra de contact.
    </p>

  </div>




</section>
