/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial;
}


.page-title {
  padding: 1em;
  color: deeppink;
  font-weight: 600;
  font-family: MysteryQuest, Mystery Quest;

}

.title-font-family {
  font-weight: 600;
  font-family: MysteryQuest, Mystery Quest;
  text-align: center;
}
